<ion-menu side="start" menuId="firstMenu" contentId="principal">
  <ion-header>
    <ion-toolbar style="--background: red;">
      <app-header></app-header>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let pages of navigateDinamic">
    <ion-menu-toggle auto-hide="true">
      <ion-item lines="none" detail="false" [routerLink]="pages.url" routerDirection="forward">
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
             {{pages.title}} 
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item detail="false" [routerLink]="navigateStatic[0].url" routerDirection="forward">
            <ion-icon [name]="navigateStatic[0].icon" slot="start"></ion-icon>
               {{navigateStatic[0].title}} 
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-menu-toggle auto-hide="true">
      <ion-item detail="false" lines="none" [routerLink]="navigateStatic[1].url" routerDirection="forward">
          <ion-icon [name]="navigateStatic[1].icon" slot="start"></ion-icon>
             {{navigateStatic[1].title}} 
      </ion-item>
    </ion-menu-toggle>
    <ion-item lines="none" (click)="onLogOut()">
      <ion-icon [name]="navigateStatic[2].icon" slot="start"></ion-icon>
         {{navigateStatic[2].title}} 
  </ion-item>
  </ion-content>
</ion-menu>
