ion-toolbar {
    --background: red;
    padding-top: 5px !important;
  }
  ion-menu-button {
    --color: white;
  }
  .header-text-style {
    color: white;
    margin-left: 15px;
    font-size: larger;
  }
