<div class="btn-submit">
  <ion-button class="btn-submit-style" type="submit" [disabled]="validate">
    <ion-spinner [hidden]="this.hiddenSpinner" name="lines"></ion-spinner>{{ buttonTitle }}
  </ion-button>
</div>