<ion-content>
  <app-image-custom></app-image-custom>
  <form novalidate [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-input type="text" placeholder="Legajo" formControlName="userId"></ion-input>
    </ion-item>
    <ion-item>
      <app-show-hide-password>
          <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
      </app-show-hide-password>
    </ion-item>
    <app-btn-login [buttonTitle]="this.buttonTitle" [validate]="passwordForm.invalid" [hiddenSpinner]="this.hiddenSpinner"></app-btn-login>
  </form>
</ion-content>