<ion-content>
  <app-image-custom></app-image-custom>
  <form novalidate [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <app-show-hide-password>
          <ion-input type="password" placeholder="Contraseña actual" formControlName="password"></ion-input>
      </app-show-hide-password>
    </ion-item>
    <ion-item>
      <app-show-hide-password>
          <ion-input type="password" placeholder="Nueva Contraseña" formControlName="newPassword"></ion-input>
      </app-show-hide-password>
    </ion-item>
    <ion-item>
      <app-show-hide-password>
          <ion-input type="password" placeholder="Nueva Contraseña" formControlName="repeatPassword"></ion-input>
      </app-show-hide-password>
    </ion-item>
    <app-btn-login [buttonTitle]="this.buttonTitle" [validate]="passwordForm.invalid" [hiddenSpinner]="this.hiddenSpinner"></app-btn-login>
  </form>

</ion-content>
