:host {
    display: flex;
    width: 100%;
    align-items: center;
  .type-toggle {
      padding-inline-start: 0.5rem;
  .show-option,
      .hide-option {
        font-size: 1.8rem;
        display: block;
  // In case you want to use text instead of icons
        &:not(ion-icon) {
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
    }
  }

  a {
    color: gray !important;
  }