.content {
    background-color: red;
    text-align: center;
}
.circle {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 50px;
    color: red;
    display: inline-block;
    background: #fff;
    margin-top: 20px;
  }

  p {
      color: white;
  }

  .user-name-style {
    font-size: x-large;
  }
  .user-id-style {
    margin-top: -20px;
    font-size: larger;
  }
  .content-description {
    margin-top: -15px;
    padding: 4px;
  }