<div class="content">
  <div>
    <div class="circle">{{this.currentUser?.initials}}</div>
    <div class="content-description">
      <p class="user-name-style">{{this.currentUser?.title}}</p>
      <p class="user-id-style">{{this.currentUser?.userId}}</p>
    </div>
  </div>
</div>